/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package Postali Child
 * @author Postali LLC
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	border: 0;
}

#page-wrap {
	margin: 0 1em;
}

.settlement-badge {
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
    display: flex;
    justify-content: center;
	height: 200px;
	width: 200px;
	.settlement-number {
		font-size: 50px;
		font-family: $cantata;
		position: absolute;
		top: 45px;
	}
}

body {
	background: $lt-grey;
}

html, body {
	font-size: 18px;
}

header, nav, footer, article, section { 
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	
}

ul {
	list-style-type: disc;
	margin-left:20px;
}

ol {
	margin-left:20px;
}

blockquote {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}

.container {
    max-width:$desktop-lg;
    padding: 0 60px;
	z-index: 1;
	position: relative;
	@include respond(desktop-lg) {
		padding:0 50px !important;
	}
    @include respond(tab-port) {
        padding: 0 30px !important;
    }
	&.wide {
		max-width: 100%;
		margin:0 50px;
		@include respond(desktop-lg) {
			padding:100px 50px !important;
		}
		@include respond(tab-port) {
			padding: 60px 30px !important;
			margin:0 30px;
		}
	}
}

section {
    padding: 80px 0;
	margin-bottom: 30px;
	background: $white;
    @include respond(tab-port) {
        padding: 60px 0;
    }
    @include respond(phone) {
        padding: 40px 0;
    }
}

// columns and spacers //

.columns {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	align-items: flex-start;
	.column-20,
    .column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
        display:flex;
		position: relative;
		box-sizing: border-box;
		justify-content: flex-start;
		align-items: normal;
		flex-wrap: wrap;
	}
	.column-break {
		width:100%;
		height:1px;
	}
	&.bottom-align {
		align-items: flex-end;
	}
	.column-20 {
		width:19.5%;
    }
    .column-25 {
		width:23%;
    }
    .column-50 {
		width:45%;
    }
    .column-33 {
		width:30%;
    }
	.column-40 {
		width:37%;
	}
	.column-60 {
		width: 57%;
	}
    .column-66 {
		width:63%;
    }
    .column-75 {
		width:66%;
    }
	.column-80 {
		width:77%;
	}
    .column-full {
		width:100%;
		justify-content: space-between;
	}
	.column-25,
	.column-40,
    .column-50,
	.column-60,
    .column-75,
	.column-80,
    .column-full,
    .column-33,
    .column-66 {
		@include respond(phone) {
			width:100%;
		}
		&.center {
			margin:0 auto;
		}
		&.single-col {
			flex-direction: column;
		}
	}
}

// spacing elements //

.spacer-break,
.spacer-15,
.spacer-30,
.spacer-45,
.spacer-60,
.spacer-90 {
    display:block;
	width:100%;
	@include respond(phone) {
		&.mobile {
			display:none;
		}
	}
}
.spacer-break { height:1px; }
.spacer-15 { height:15px; }
.spacer-30 { height:30px; }
.spacer-45 { height:45px; }
.spacer-60 { height:60px; }
.spacer-90 { height:90px; }

// accordion styles //

.accordions {
    width:100%;
    &_title  {
		display: flex;
		background-color: $blk;
		cursor: pointer;
		margin-top: 15px;
		padding: 20px 40px;
		transition: 0.3s linear;
		text-align: left;
		align-items: center;
		border-radius: 50px;
        h3 {
            font-size:18px;
            font-weight:400;
            color:$white;
            transition:$trans;
            margin-bottom:0;
            margin-top:0;
            font-size:18px;
            font-weight:700;
			font-family: $lato;
        }
        span {
            align-self:center;
            justify-self:end;
            display: block;
            &:after {
                content: "+";
                display: inline-block;
                transition:$trans;
                font-size:16px;
                position: relative;
                color:$white;
                margin-left:5px;
                font-size:30px;
            }
        }
        
        &.active {
            background-color:$grey;
            span {
                &:after {
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }

    &_content {
        display: none;
		padding: 50px 40px 10px;
		text-align: left;
		.headline {
			color: $white;
			font-size: 32px;
			margin-bottom: 20px;
			display: block;
			font-family:$lato;
			font-weight: 700;
		}
        p {
            color:$white;
        }
        ul {
            color:$white;
        }
    }
}

// Drop Downs
#app-cover {
	@include drop-down-select;
}

// slider arrows 
.prev,
.next {
	cursor: pointer;
}
#awards {
	display: grid;
	.slick-track {
		display:flex;
	}
	.prev {
		position: absolute;
		left: 0;
		top: 50px;
		border: none;
		height: 36px;
		width: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $grey;
		&:before {
			position: absolute;
			content: "\e905";
			color: $white;
			font-family: $icomoon;
			font-size: 15px;
		}
	}
	.next {
		position: absolute;
		right: 0;
		top:50px;
		border: none;
		height: 36px;
		width: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $grey;
		&:before {
			position: absolute;
			content: "\e902";
			color: $white;
			font-family: $icomoon;
			font-size: 15px;
			margin-left: 5px;
		}
	}
}

// Global Classes

.banner-img {
	height: 100%;
	object-fit: cover;
	min-width: 400px;
}

.grid {
	display: grid;
	&_1-3 {
		grid-template-columns: 1fr 3fr;
	}
	&_3-1 {
		grid-template-columns: 3fr 1fr;
	}
	&_2-1 {
		grid-template-columns: 2fr 1fr;
	}
}

#breadcrumbs {
	padding: 0 0 75px 0;
}

.border-left {
	border-left: solid 5px $green;
	padding-left: 40px;
}

.cta-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	max-width: 400px;
	& > a:first-of-type {
		margin-right: 30px;
	}
	a {
		font-weight: $bold;
	}
	.cta-top-text {
		width: 100%;
		font-size: 14px;
	}
}

.play-btn {
	background: url('/wp-content/uploads/2022/08/play-button-green.svg') no-repeat;
	background-size: contain;
	background-position: center;
	width: 35px;
	height: 35px;
	display: inline-block;
}

.address-pin {
	&:before {
		content: '';
		background: url('/wp-content/uploads/2022/08/footer-location-dot.svg') no-repeat;
		background-size: contain;
		background-position: center;
		display: inline-block;
		height: 25px;
		width: 25px;
		margin-right: 5px;
	}
}